* {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	line-height: 1.5em;
	color: #303942;
}
body {
	margin: 0;
	background-color: #fff;
}
#wrapper-main {
	margin: 30px auto 0 auto;
	min-width: 576px;
	max-width: 1080px;
}
header {
	text-align: center;
	padding: 1em 0;
	box-shadow: 0 0 1em #bbb;
	background-color: #efefef;
}
h1,
h2 {
	text-transform: uppercase;
}
h1 {
	vertical-align: middle;
	font-size: 20pt;
	margin: 0;
}
h1,
img {
	display: inline-block;
	vertical-align: middle;
}
h2 {
	color: #666;
	font-size: 1.2em;
	margin-top: 1em;
	border-bottom: 1px solid #cfcfcf;
}
input[type="number"] {
	padding: 0 0 0 0.5em;
	width: 80px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	opacity: 1;
}
#email-form fieldset {
  border: none;
}
#email-form label, #email-form input, #email-form button,  #email-form textarea {
  display: block;
  margin: 0.5em 0;
}
#email-form textarea {
  width: 300px;
  height: 100px;
}
#email-form input[type="email"], #email-form textarea {
  padding: 0.2em 0.4em;
}
label {
	font-weight: bold;
}
p {
	margin: 0;
}
p + p {
	margin-top: 1em;
}
footer {
	margin: 2em 0;
}
#iconFileSelectors {
	display: inline-block;
}
#notificationOptions {
	display: none;
}
#windowMode {
	display: inline-block;
	margin-left: 2em;
}
img#iconImage {
	background: #eee url(images/checkerboard.png) repeat;
	margin: 0 1em;
	padding: 1em;
	border: 3px solid #ccc;
	max-width: 64px;
	max-height: 64px;
}
label.label2 {
	font-weight: normal;
}
hr {
	margin: 1em 0;
}
.section {
	width: 960px;
	box-shadow: inset 0 0 1em #ddd;
	margin: 0.5em 0;
	margin-bottom: 1em;
	padding: 1em 2em;
	border-radius: 10px;
	border: 1px solid #ddd;
}
.section * {
	vertical-align: middle;
}
.controls {
	display: inline-block;
	width: 60%;
}
.help {
	display: inline-block;
	width: 35%;
	border-left: 1px solid #CCC;
	padding-left: 10px;
}
.warning {
	color: #FF8000;
}
.alert {
	color: #cc0101;
}
